<!-- about_me.html -->

{% extends 'portfolio/layout.html' %}

{% load static %}

{% block main %}
    <div class="center about_me_div">
        <div>
            <h1>Miguel Silva</h1>
            <p>Hello, I'm Miguel. I am a software engineering student at the Lusófona University.</p>
            <h1>Interests</h1>
            <p>I like programming, karting and also play music in a local orchestra "Sociedade Filarmónica Incrível Pontével".</p>
            <p>For a while I wanted to be a mechanical engineer, as I love learning how things work. Throughout my childhood I learnt many things about cars, engines and physiscs through the internet. It was when I had a programming subject on the last school year before going to university that I discovered programming.</p>
            <p>For me, it's the problem-solving aspect that is the most fun. When you have something that seems really complicated to do at first, even if it takes a while, you think of a solution, you program it, and it works (usually not on the first try), there aren't many things as fun and satisfying as that.</p>
            <h1>Schools and Educational Background</h1>
            <p>Escola Secundária do Cartaxo - Ensino Secundário</p>
            <p>Universidade Lusófona de Humanidades e Tecnologias Lisboa - Licenciatura Engenharia Informática</p>
        </div>
    </div>
{% endblock %}