<!-- blog.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
    <div class="center">
        <div id="blogContainer">
            <h1>Blog</h1>
            <div id="blog">
                {% for post in posts %}
                    <div>
                        <div>
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.content }}</p>
                        </div>
                        <div>
                            <h2>Author : {{ post.author }}</h2>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
