<!-- contacts.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
    <div class="center">
        <h1>Contacts</h1>
        <div class="center2">
            {% for contact in contacts %}
                <div class="contact">
                    <div>
                        <a href="{{ contact.link }}"><h1>{{ contact.name }}</h1></a>
                    </div>
                    <div>
                        <img src="{{ contact.image.url }}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}