<!-- projects.html -->

{% extends 'portfolio/layout.html' %}

{% load static %}

{% block main %}
    <div id="center_projects">
        <div id="width_limit">
            <div class="projects_container">
                {% for project in projects %}

                    <div>
                        <div class="project_image">
                            <img src="{{ project.image.url }}" alt="">
                        </div>

                        <div class="project_text">
                            <h2>{{ project.title }}</h2>
                            <p>{{ project.description }}</p>
                        </div>

                        <div class="project_link">
                            <a href="{{ project.link }}"><b>See more</b></a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}