* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass Mono', monospace;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

/* Header */
body {
    color: white;
    background-color: rgb(25, 25, 25);
}

main {
    position: relative;
    max-width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 20px 60px;
    background-color: transparent;
    z-index: 1000;
}

header > span {
    display: flex;
    background: linear-gradient(90deg, #ff04b4, #9c08c9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* botão hamburguer do menu */

.menu-button {
    background-color: transparent;
    padding: 16px;
    right: 0;
    border: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change.bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change.bar2 {
    opacity: 0;
}

.change.bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu-container {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-43deg, #c51a7c, #141735 90%);
    z-index: 500;
}

.menu-container li, #menu-list {
    font-size: 3rem;
    list-style: none;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    color: rgb(200, 214, 209);
    font-weight: bold;
}

#menu-list {
    position: relative;
}

#menu-list::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#menu-list:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

ul {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socials {
    display: flex;
    margin: 20px 100px 0 100px;
    justify-content: space-between;
}

#github, #linkedin {
    height: 50px;
    width: 50px;
    color: rgb(200, 214, 209);
    cursor: pointer;
}

#github:hover, #linkedin:hover {
    color: white;
    transition: all 0.1s ease-in-out;
}

/* botão night mode */

.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: absolute;
    z-index: 3000;
    margin-right: 60px;
    margin-bottom: 20px;
    right: 0;
    bottom: 0;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #f6c3dc, #f697ef 70%);
    transition: .4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #9a1768, inset -10px -4px 0 0 #d5296b;
}

.hero-page {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.background-container {
    background-image: url("../images/background.png");
    background-position: center;
    height: 100vh;
    width: 50%;
    top: 0;
    right: 0;
}

.hero-page-texto {
    top: 0;
    height: 100vh;
    width: 50%;
    background-color: rgb(22, 22, 22);
    padding-left: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

.hero-page-texto > h1 {
    font-size: 4.5rem;
    padding-bottom: 30px;
}

.hero-page-texto > p {
    font-size: 1.4rem;
    justify-content: left;
    margin-bottom: 50px;
}

#button {
    height: 70px;
    width: 220px;
    background-color: white;
    font-size: 1.2rem;
    border: 0;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

#button:hover {
    color: white;
    background: linear-gradient(90deg, #ff04b4, #5e0f76);
    transition: all 0.2s ease 0s;
}

.about-me {
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-me > .orbita, .about-me > .container-about-me {
    margin: 0px 30px 0 30px;
}

.container-about-me {
    color: white;
    height: 600px;
    width: 50%;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-about-me > p {
    text-align:justify-all ;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line{
    background-color: #5e0f76;
}

.lineprojetos {
    height: 5px;
    width: 15%;
    margin-top: 0.5%;
    margin-bottom: 2%;
}

.aboutme {
    height: 7px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 110%;
}

.skill-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
    justify-content: center;
}

.skill-container h1 {
    text-align: center;
}

.skill-container li {
    margin-left: 35%;
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
    font-size: 1.1em;
}

.lineskill  {
    margin-top: 5px;
    margin-left: 35%;
    background: linear-gradient(90deg, #ff04b4, #9c08c9);;
    height: 9px;
}

.java, .html, .css {
    width: 30%;
}

.c, .javascript {
    width: 20%;
}

.django {
    width: 15%
}

.kotlin, .python {
    width: 23%;
}

.js-playground {
    height: 100vh;
}

.projects {
    background-color: rgb(25, 25, 25);
    color: white;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}

.project-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
    grid-auto-flow: column;
    min-height: 300px;
    overflow: auto;
    padding-bottom: 1%;
}

.project-list::-webkit-scrollbar {
    height: auto;
}

.project-list::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ff04b4, #9c08c9);
    border-radius: 8px;
}

.projeto {
    background-color: #414249;
    width: 500px;
    padding: 7%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#line-projeto-head {
    width: 50%;
}

.projeto a {
    text-decoration: none;
    color: #9a1768;
    font-weight: bold;
}

.projeto-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-me {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(22, 22, 22);
    color: white;
}

.horizontal-strip {
    position: relative;
    width: 100vw;
    height: 50%;
    background: linear-gradient(90deg, #ff04b4, #9c08c9);
    top: 25%;
}

.formulario-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    position: absolute;
    top: 14%;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    z-index: 100;
    background: rgb(255, 255, 255);
    width: 600px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario > h1 {
    color: black;
    margin-bottom: 15px;
}

.form-input {
    width: 500px;
    height: 35px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: transparent;
    transition: 0.6s all ease-in;
}

.form-input:focus, #msg:focus {
    border-width: 0 0 3px;
    border-image: linear-gradient(90deg, #ff04b4, #9c08c9) 1 100;
    outline: none;
}

.form-input, #msg {
    background-color: rgb(241, 241, 241);
}

.formulario > form {
    display: flex;
    flex-direction: column;
}

#msg {
    margin-top: 25px;
    height: 300px;
    width: 500px;
    border-color: transparent;
    outline: none;
    resize: none;
}

#submit {
    border-radius: 5px;
    margin-top: 5px;
    height: 40px;
    width: 200px;
    margin-left: auto;
    border: transparent;
    color: rgb(255, 255, 255);
    background: rgb(208, 43, 216);
    background-size: cover;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#submit:hover {
    background: rgba(242, 0, 255, 0.802);
}

#github-2, #linkedin-2 {
    height: 30px;
    width: 35px;
    color: white;
    transition: 0.2s all;
}

#github-2:hover, #linkedin-2:hover {
    height: 30px;
    width: 35px;
    color: rgb(212, 212, 212);
}

.texto-form > p {
    margin-bottom: 50px;
}

@media only screen and (max-width: 500px) {
    header {
        top: 0;
        padding: 10px 30px;
    }

    header > span {
        font-size: 0.9rem;
    }

    .bar1, .bar2, .bar3 {
        width: 20px;
        height: 2px;
        background-color: white;
        margin: 4px 0;
        transition: 0.4s;
    }

    .change.bar1 {
        transform: translate(0, 5.75px) rotate(-45deg);
    }

    .change.bar3 {
        transform: translate(0, -5.75px) rotate(45deg);
    }

    #menu-list {
        font-size: 0.8em;
        padding: 0px;
    }

    .socials {
        margin: 0px 70px 0px 70px
    }

    #github, #linkedin {
        height: 35px;
        width: 35px;
        color: rgb(200, 214, 209);
    }

    .light-mode {
        position: relative;
        top: 0;
    }
    .switch {
        position: absolute;
        top: 0;
        --width-of-switch: 2.5em;
        --height-of-switch: 1.3em;
        /* size of sliding icon -- sun and moon */
        --size-of-icon: 1.1em;
        --slider-offset: 0.1em;
        margin-right: 30px;
        margin-bottom: 10px;
    }

    .hero-page {
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .hero-page-texto {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;
        padding: 40px;
    }

    .hero-page-texto > p {
        font-size: 0.9em;
        margin-bottom: 15px;
    }

    .hero-page-texto > h1 {
        font-size: 1.7em;
        padding-top: 70px;
    }

    #button {
        height: 50px;
        width: 150px;
    }

    .background-container {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .about-me {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .orbita {
        margin-top: 100px;
        height: 250px;
        width: 250px;
    }

    .circulo-about-me {
        height: 200px;
        width: 200px;
    }

    #rocket {
        height: 150px;
        width: 150px;
    }

    .container-about-me {
        width: 100%;
        height: auto;
        font-size: 0.6em;
        justify-content: end;
        align-items: center;
        margin-top: 500px;
        padding-top: 5px;
    }

    .container-about-me > button {
        width: 150px !important;
        height: 50px !important;
    }

    .about-me > .orbita, .about-me > .container-about-me {
        margin: 0;
    }

    .horizontal-strip {
        top: 50px;
        height: 100%;
        width: 60%;
        left: 20%;
    }

    .texto-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        margin-bottom: 25px;
    }

    .texto-form > p {
        margin-bottom: 15px;
    }

    .formulario-text > .formulario {
        width: 330px;
        height: 450px;
    }

    .formulario > h1 {
        font-size: 1.5em;
    }

    input[type=text] {
        width: 270px;
        height: 35px;
    }

    #msg {
        margin-top: 25px;
        height: 210px;
        width: 270px;
    }

    #submit {
        width: 100px;
    }
}

.playground-page {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.calculator-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.calculator {
    background-color: #414249;
    border: white 3px solid;
}

.inputs {
    width: 380px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.inputs > button {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: white;
    border: transparent;
    transition: background-color 0.2s;
}

.inputs > button:active {
    background-color: rgb(205, 205, 205);
}

.display {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 200px;
    height: 90px;
    font-size: 2.5em;
    color: white;
    padding-right: 20px;
    width: 100%;
    border: white 3px solid;
}

#equals {
    color: white;
    background-color: #b11374;
}

#equals:active {
    background-color: #931061;
}

#ac {
    color: white;
    background-color: #371956;
}

#ac:active {
    background-color: #29133f;
}

#operations {
    background-color: rgb(186, 185, 185);
}

#operations:active {
    background-color: gray;
}

.date {
    color: white;
    font-size: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.text-playground {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 15px;
}

.playground-inputs {
    width: 100%;
    height: 30px;
    background-color: #414249;
}

.playground-inputs:focus {
    outline: transparent;
    background-color: #52535c;
}

.submit-opinion {
    width: 100%;
    height: 30px;
    background-color: #b11374;
    border: none;
    color: white;
}

.submit-opinion:active {
    background-color: #9f1469;
}

.nomes {
    display: flex;
    gap: 50px;
}

footer {
    background-color: rgb(33, 33, 33);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
}

footer img {
    width: 550px;
    height: 110px;
}

.footer-logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 15px;
}

.footer-logo-text > p {
    width: 100%;
    text-align: center;
}

.footer-anchor-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: white;
    height: 100%;
}

.footer-anchor-link > a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: color 0.15s ease-in;
    font-weight: bold;
}

.footer-anchor {
    display: flex;
    align-items: end;
    justify-content: center;
    color: #5f057a;
    font-weight: bolder;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.footer-anchor > a {
    text-decoration: none;
    color: white;
    transition: color 0.15s ease-in;
}

.footer-anchor > a:hover, .footer-anchor-link > a:hover {
    color: #931061;
}

.blog, .forms-blog {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.autores, .posts, .comentarios {
    background-color: #414249;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
}

.autores {
    margin-top: 7%;
}


.button-comments {
    display: flex;
    justify-content: center;
}

#buttons-end {
    margin-bottom: 7%;
}

.autores p, .autores h2, .posts p {
    text-align: center;
    margin: 1em;
}

.posts a {
    display: block;
    width: 100%;
    text-align: center;
    color: #9a1768;
    font-weight: bolder;
    font-size: 1.2em;
}

.post, .comentario {
    width: 70%;
    background-color: #3d3d42;
    margin: 10px;
}

.comentario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
}

.post a {
    width: 100%;
    text-align: center;
}

.blog button > a {
    color: white;
}

.blog button, .editPost button, #forms-button {
    color: white;
    border: none;
    margin: 10px;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    background-color: #9f1469;
}

.editPost, .newPost, .newComentario, .newAutor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3d3d42;
    flex-direction: column;
    width: 30%;
}

.editPost p, .newPost p, .newComentario p, .newAutor p {
    margin: 15px;
}

.editPost form, .newPost form, .newComentario form, .newAutor form {
    width: 100%;
}

.editPost input[type="text"], .newPost input[type="text"], .newComentario input[type="text"], .newAutor input[type="text"]{
    width: 70%;
    height: 25px;
}

.buttons-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.buttons-form a {
    color: #9f1469;
    font-weight: bolder;
    font-size: 1.3em;
}

.newAutor select {
    max-width: 100%;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-page h2 {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.form-login {
    background-color: #414249;
    min-width: 30%;
    height: 300px;
    color: white;
    flex-direction: column;
}

.infos-login {
    display: flex;
    flex-direction: column;
    padding: 0 10% 5% 10%;
    gap: 5px;
}

.login-button {
    width: 100%;
    display: flex;
    justify-content: center;
}







