@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*font-family: 'Kanit', sans-serif;
    font-family: 'Quicksand', sans-serif;*/
    font-family: 'Heebo', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(0, 75, 120);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(240, 225, 120);
}

h1 {
    font-size: 50px;
    color: black;
}

nav {
    background-color: rgb(0, 75, 120);
    display: block;
    text-align: center;
}

nav a {
    background-color: rgb(0, 75, 120);
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    display: flex;
}

footer {
    display: none;
}

nav a:hover {
    background-color: rgb(240, 225, 120);
    color: black;
}

.center {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.center_home {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.center2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}

.container {
    background-color: aliceblue;
    margin: 1rem 15% 5rem 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#blog {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 4px solid rgb(0, 75, 120);
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 4px;
}

#blog > div {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 0.75rem;
    min-width: 50vw;
    flex-flow: column;
}

#blog > div > div {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 0.75rem;
    width: 100%;
}

#blog > div:nth-child(2n) {
    background-color: rgb(250, 250, 250);
}

#blog > div:nth-child(2n+1) {
    background-color: rgb(240, 240, 240);
}

.lightText {
    color: rgb(100, 100, 100);
}

#homeBg {
    background-image: url("../media/homeBg.jpg");
    background-size: cover;
    height: 93vh;
    width: 100%;
}

#homeBg > h1 {
    font-size: 5rem;
    margin-top: 1.5rem;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem 1rem 1rem;
    width: auto;
    height: auto;
    border-radius: 4px;
    border: none;
}

.contact {
    background-color: rgb(240, 240, 240);
    margin: 15px;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    position: relative;
}

.contact h2 {
    color: black;
    font-size: 40px;
}

.contact > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact img {
    max-height: 200px;
    max-width: 200px;
}

.contact .link-info {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    transform: translateY(-40px);
}

.contact:hover .link-info {
    opacity: 1;
    visibility: visible;
    transform: translateY(-15px);
}

.year_box {
    background-color: aliceblue;
    margin: 15px;
    width: 350px;
}

.semester_box {
    background-color: rgb(0, 75, 120);
    margin: 15px;
    color: white;
    padding: 7px;
}

.subject_box {
    background-color: white;
    color: black;
    margin: 15px 8px 8px 8px;
    padding: 10px;
    cursor: pointer;
}

.center:last-of-type {
    margin-bottom: 50px;
}

.click-to-show {
    font-size: 0;
    transition: font-size 0.3s ease;
}

.click-to-show.active {
    font-size: 20px;
}

footer {
    display: none;
}

.about_me_div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.about_me_div div {
    background-color: rgb(240, 240, 240);
    margin: 20px 0 20px 0;
    max-width: 75%;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content: left;
    flex-flow: column;
    text-align: justify;
}

.about_me_div div p {
    font-size: 1.3em;
}

.about_me_div div p {
    margin-top: 10px;
}

#center_projects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects_container {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#width_limit {
    background-color: aliceblue;
}

.projects_container > div {
    margin: 15px;
    width: 550px;
    height: 200px;
    background-color: white;
    border-radius: 15px;
    position: relative;
}

.project_image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.project_image > img {
    object-fit: cover;
    width: 30%;
    height: 80%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px 0 0 0;
}

.project_text {
    position: absolute;
    width: 70%;
    max-height: 80%;
    right: 0;
    padding: 10px;
    overflow: hidden;
}

.project_text p {
    text-align: justify;
}

.project_link {
    position: absolute;
    width: 100%;
    height: 20%;
    right: 0;
    bottom: 0;
}

.project_link a {
    background-color: rgb(0, 75, 120);
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.project_link a:hover {
    background-color: rgb(240, 225, 120);
    color: black;
}

.like_button {
    border: none;
    background-color: rgb(0, 75, 120);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.like_button:hover {
    border: none;
    background-color: rgb(240, 225, 120);
    padding: 10px;
    color: black;
}

.add_comment_button {
    border: none;
    background-color: rgb(0, 75, 120);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.1em;
}

.add_comment_button:hover {
    border: none;
    background-color: rgb(240, 225, 120);
    padding: 10px;
    color: black;
}

.comment_container {
    flex-flow: column;
}

.comment {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
}

@media (min-width: 900px) {
    nav {
        background-color: rgb(0, 75, 120);
        display: flex;
        align-items: normal;
        justify-content: center;
    }

    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        display: flex;
        align-content: center;
        justify-content: center;
        background-color: rgb(0, 75, 120);
        color: white;
    }

    footer > h2 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 900px) {
    .projects_container > div {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .projects_container > div {
        width: 260px;
        height: 300px;
    }
}

.delete_button {
    border: none;
    background-color: white;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.delete_button:hover {
    border: none;
    background-color: black;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}